@font-face{
    font-family: myfont;
    src: url(../fonts/ff-clan-web-pro-thin.woff);
}

html, body{
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-family:myfont, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-image: linear-gradient(to right, #00000081, #000000c0), url(../images/backg.jpeg);
    background-attachment: fixed;
}

a{
    text-decoration: none;
    color: #ffb735;
    transition-duration: 0.5s;
}

a:hover{
    color: #1d1d1d;
}

/*    the design for the sign up page   */

.left_container{
    width: 50%;
    float: left;
    background: #fbf9f966;
    height: 100vh;
}

.right_container p{
    font-size: 20px;
    margin-top: 50px;
    color: #fff;
}

.right_container p small{
    color: #fff;
    font-size: 13px;
}

.right_container{
    float: right;
    width: 50%;
    margin-top: 150px;
    text-align: center;
}

.signup_box{
    margin: 70px auto;
    width:80%;
    text-align: center;
}

.introduction h1{

    color: #1d1d1d;
    font-size: 17px;
    font-weight: bold;
}

/*    ----    design for the  form  ----   */

.myform{
    width: 300px;
    margin: 50px auto;
}

.myform .input-box {
    margin: 20px 0;
}

.myform .input-box input {
    width: 100%;
    font-size: 15px;
    padding: 13px;
    color: #1d1d1d;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    background: #fbf9f966;
    box-sizing: border-box;
}

.myform .input-box input:focus,
.myform .input-box input:valid {
    border-bottom: 0.5px solid #ffb735;
}

.myform .input-box input[type="submit"] {
    border: none;
    background: #ffb735;
    border-radius:25px;
    color: #fff;
    font-weight: bold;
}

.myform .input-box input[type="submit"]:hover {
    background: #1d1d1d;
    transition: 0.7s;
}

/* ---- design navigationbar layout ----   */

ul{
    height: 75px;
    float: right;
    margin: 0;
}

ul li{
    display: inline-table;
    list-style-type: none;
    margin: 0;
}

ul li a{
    text-decoration: none;
    font-size: 14px;
    color: #1d1d1d;
    display: block;
    padding: 30px 10px;
    width: 110px;
    text-align: center;
    transition-duration: 0.5s;
}

ul li a:hover{
    color: #fff;
    background-color: #ffb735;
    transition-duration: 0.5s;
}

/*    ----   design layout for home page  ----   */

.head{
    background-color:#fbf9f9b3;
    padding: 0;
    height: 77px;
    width: 100%;
}

.navigation{
    width: 70%;
    margin: 0 auto;
}

.logo{
    margin-top: 15px;
    float: left;
}

.container{
    margin: 20px auto;
    background: #fbf9f966;
    width: 80%;
}

.selection_container{
    width: 50%;
    float: left;
    background: #ffffff;
    margin-bottom: 20px;
}

.selected_container{
    width: 50%;
    float: right;
    text-align: center;
}

.selected_container h1{
    font-size: 20px;
    margin-top: 70px;
    color: #FFF;
}

.selected_container h3{
    font-size: 17px;
    color: #FFF;
}

.home_box{
    margin: 30px auto;
    width: 70%;
    text-align: center;

}

.order{
    display: none;
}

.dish{
    width: 310px;
    margin: 30px 0;
    height: 87px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 7px 50px rgba(0,0,0,.3);
}

#dish{
    display: inline-block;
    margin-right: 20px;
}

.dish img{
    width: 87px;
    height: 87px;
    float: left;
}

.dish .content{
    width: 135px;
    box-sizing: border-box;
    float: left;
    text-align: left;
    padding: 0 20px;
    color: #1d1d1d;
}

.content h1{
    font-size: 15px;
    font-weight: bold;
}

.content p{
    font-size: 13px;
}

.dish a{
    width: 87px;
    height: 87px;
    text-align: center;
    background-image: url(../images/add.jpg);
    float: right;
    color: #1d1d1d;
    box-sizing: border-box;
}

/* ---- order page css ----   */

.order_container {
    font-size: 20px;
    margin-top: 50px;
    color: #1d1d1d;
}

.order_container h2{
    font-size: 20px;
    color: #fff;
}

.order_container p small{
    color: #fff;
    font-size: 13px;
}

.order_container{
    width: 50%;
    margin: 100px auto;
    text-align: center;
}

/* ---- about us page css ----   */

.about_container p{
    font-size: 20px;
    margin-top: 50px;
    color: #fff;
}

.about_container h3, .about_container h1{
    font-size: 20px;
    color: #fff;
}

.about_container p small{
    color: #fff;
    font-size: 13px;
}

.about_container{
    width: 50%;
    margin: 100px auto;
    text-align: center;
}


/* ---- footer layout ----   */

footer{
    float: none;
    clear: both;
    text-align: center;
    padding-top: 27px;
    padding-bottom: 30px;
    background: #fbf9f966;
}