/* ### Media queries for responsiveness */

/* ------ Most of the Smartphones Mobiles ------- */

@media (min-width: 320px) and (max-width: 480px) {

    /*    the design for the sign up page   */

    .right_container{
        float: none;
        width: 100%;
        margin-top: 35px;
        text-align: center;
    }

    .right_container #intro p, .right_container #intro h1{
        font-size: 20px;
        margin-top: 7px;
        color: #fff;
    }

    .left_container{
        width: 100%;
        float: none;
        background: #fbf9f966;
        height: 100%;
    }

    .signup_box{
        width:100%;
        text-align: center;
    }

    #intro{
        display: block;
    }

    #intro1{
        display: none;
    }

    .introduction{
        margin: 60px 0;
    }

    .introduction h1{
        color: #1d1d1d;
        font-size: 17px;
        font-weight: bold;
    }

    #introduce{
        display: none;
    }

    /*    ----    design for the  form  ----   */

    .myform{
        width: 275px;
        padding: 20px 0;
    }

    /*    ----   design layout for home page  ----   */

    .head{
        text-align: center;
    }

    .navigation{
        width: 100%;
        margin: 0;
    }

    .logo{
        margin-top: 15px;
        float: none;
    }

    .menu_icon{
        display: block;
    }

    .container{
        margin: 0;
        width: 100%;
    }
    
    .selection_container{
        width: 100%;
        float: none;
    }
    
    .selected_container{
        width: 100%;
        float: none;
    }
    
    .selected_container h1{
        margin: 0;
    }

    .home_box{
        margin: 0 auto;
        width: 95%;
    }

    /* ---- footer layout ----   */

    footer{
        float: none;
        clear: both;
        text-align: center;
        padding-top: 27px;
        padding-bottom: 30px;
        padding: 10px;
        background: #fbf9f966;
    }

}

/* ------ Most of the Smartphones Mobiles ------- */

@media (min-width: 481px) and (max-width: 767px) {

}

/* ---- Most of the Tablets, Ipads ----- */

@media (min-width: 768px) and (max-width: 1024px) {

}

/* ---- Most of the laptops or desktops ----- */

@media (min-width: 1025px) and (max-width: 1268px) {

}
